*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding:10px;
}
.todo-app{
    width:100%;
    max-width:540px;
    background: white;
    margin:150px auto 20px;
    padding:40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color:#002765;
    margin-bottom:20px;
    text-align: center;
}
.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left:20px ;
    margin-bottom: 25px
}
input{
    flex:1;
    border:none;
    outline:none;
    background: transparent;
    padding:10px;
    font-weight: 14px;

}
.row button{
    border:none;
    outline:none;
    padding:16px 50px;
    background-color: #ff5945;
    border-radius: 40px;
    color:#fff;
    font-size:16px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  li:last-child {
    border-bottom: none;
  }
  .delete-btn {
    float: right;
    background:transparent;
    
    border: none;
    cursor: pointer;
    padding:6px;
    border-radius:50px ;
  }

